.main {
    height: 100vh !important;
}

.nav-item a:hover {
    background-color: #2595be1a;
}

.sidebar {
    height: 100vh !important;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

    h5 {
        font-size: 18px;
        font-weight: 600;
    }

    p {
        font-size: 15px;
    }

    .profileImg {
        height: 70px;
        width: 70px;
        border-radius: 50% !important;

        img {
            height: 80px;
            width: 80px;
        }
    }
}
.contents{
    .upperNav{
        border-bottom: 0.2px solid rgba(97, 20, 231, 0.34);
        .left{
            img{
                width: 80px;
                height: 80px;
            }
        }
        .notification{
            background-color:#0a465c1a;
            height: 40px;
            width: 40px;
            i{
                color: white;
            }
            div{
                border-radius: 50%;
                height: 20px;
                width: 20px;
                box-sizing: border-box;
                p{
                    font-size: 12px;
                }
                margin-top: -40px;
                margin-right: -20px;
            }
        }
    }
    .profileImg {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;

        img {
            height: 80px;
            width: 80px;
        }
    }
    .breadcrumb{
        background-color: #0a465c1a;
    }
    
    .infoList{
        padding-bottom: 200px !important;
        .card{
            p:nth-child(1){
                color: grey;
            }
            p:nth-child(2){
                font-weight: 600;
                font-size: 23px;
            }
        }
        .icon{
            height: 60px;
            width: 60px;
            transform: scale(1);
            transition: all 0.4s ease-in-out;
            i{
                font-size: 25px;
            }
        }
        .icon:hover{
            transform: scale(1.1);
            transition: all 0.4s ease-in-out;
        }
    }

    .NotificationList{
        .iconCheckbox{
            width: 40px;
            height: 40px;
            background-color: rgb(226, 226, 226);
            i{
                font-size: 24px;
                color: rgb(59, 59, 59);
            }
        }
        .icon{
            width: 50px;
            height: 50px;
        }
        .card{
            cursor: pointer;
            &:hover{
                background-color: rgba(84, 247, 231, 0.223);
                .listCheckBox{
                    display:flex !important;
                }
            }
        }
        .listCheckBox{
            display: none !important;
        }
    }
}
.messageAlert{
    i{
        font-size: 25px;
    }
}
.paymentDetails{
    .btn{
        height: 40px !important;
        display: none !important;
        transition: all 0.4s ease-in-out;
    }
    .row{
        cursor: pointer;
        &:hover{
            .btn{
                display: flex !important;
                transition: all 0.4s ease-in-out;
            }

        }
    }
}
.bookingTable{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: -60px !important;

}