$primaryColor: #2596be;
$bannerH1Color: white;
$secondaryColor: #000000;

body {
    font-family: 'Barlow', sans-serif;
    background-color: #ffffff;
}

.custom-btn {
    background-color: #e8e8e8;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.nav-link {
    font-family: Poppins;
    font-weight: 400;
}

.container-fluid {
    padding: 0;
}
.homeSection{
    height: 90vh;
    background-image: url('../images/bg-header-home3.jpg');
    background-size: cover;
    input {
        border: none;
        height: 55px;
    }

    input:focus {
        outline: none;
    }
    i {
        color: rgb(199, 196, 196);
        font-size: 25px;
        cursor: pointer;
    }
}
.HomeBannerLeft{
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.632);  
    backdrop-filter: blur(16px);
    box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
}
.HomeBannerDate{
    margin-top:-146px;
    background-color: white;
    box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
   .bi-chevron-down{
        font-size: 15px;
        color: #1616169e;
    }
}