$primaryColor: #2596be;
$bannerH1Color: white;
$secondaryColor: #000000;

body {
    font-family: 'Barlow', sans-serif;
    background-color: #ffffff;
}

.custom-btn {
    background-color: #e8e8e8;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.nav-link {
    font-family: Poppins;
    font-weight: 400;
}

.container-fluid {
    padding: 0;
}
.homeSection{
    height: 90vh;
    background-image: url('../images/bg-header-home3.jpg');
    background-size: cover;
    input {
        border: none;
        height: 55px;
    }

    input:focus {
        outline: none;
    }
    i {
        color: rgb(199, 196, 196);
        font-size: 25px;
        cursor: pointer;
    }
    h1{
        font-weight: 700;
        font-size: 50px;
    }
}
.HomeBannerLeft{
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.632);  
    backdrop-filter: blur(16px);
    // box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    padding-top: 20vh !important;
    box-sizing: border-box;
    p:nth-child(1){
        color: #2596be;
    }
    p:nth-child(3){
        color:rgba(0, 0, 0, 0.619);
    }
}
.HomeBannerDate{
    margin-top:-140px;
    background-color: white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    height: 20vh;
   .bi-chevron-down{
        font-size: 15px;
        color: #1616169e;
    }
    button{
        background-color: #2596be;
        
    }
    button:hover{
        background-color: #076f95;
    }
}
.counter{
    height: 25vh;
    border: 0px;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    background-color: #ffffff;
    top:0px;
    z-index: 0;
    &:hover{
        top: -10px;
        transition: all 0.4s ease-in-out;
        box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
        z-index: 2;
        h1{
            color: #076f95;
        }
    }
    h1{
        transition: all 0.4s ease-in-out;
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-size: 48px;
    }
    p{
        font-weight: 550;
        color: #414040bf;
    }
}
.Beach{
    background-color: aliceblue;
    .upper{
        img{
            width: 150px;
            height: 80px;
        }
    }
    .lower{
        height: 75vh;
        background-image: url('../images/overlay-video-home3.jpg');
        background-size: cover;
        margin-bottom: -30vh;
        i{
            font-size: 60px;
            &:hover{
                color: white;
            }
        }
    }
}

.FavouriteRooms{
    background-color: #f5f5f5af;
    margin-top: 40vh !important;
    padding-top: 20vh !important;
    img{
        width: 100% !important;
        height: 100% !important;
    }
}
.slider .owl-item.active.center .slider-card {
    transform: scale(1.2);
    overflow: hidden;
}

.owl-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-left: 15%;
    .owl-next {
        position: absolute;
        /* top: calc(50% - 40px); */
        cursor: url('../images/circle.svg'), move;
        margin-left: 50px;
        z-index: 1;
        font-size: 30px !important;
    }
    .owl-prev {
        position: absolute;
        /* top: calc(50% - 40px); */
        margin-right: 50px;
        z-index: 1;
        font-size: 30px !important;
    }
    i {
        color: #063c43;
    }
    i:hover {
        color: #1e83a8;
    }
    
}

.carousel-indicators {
    margin-bottom: -40px;
}

.carousel-indicators [data-bs-target] {
    background-color: #2596be;
}


