.read-btn {
    font-family: Poppins;
    padding: 15px 30px;
    background-color: transparent;
    color: #808080;
}

.read-btn:hover {
    background-color: #1e83a8;
    color: #fff;
}

.offcanvas {
    flex-direction: row;
}

.nav-link {
    font-family: Poppins;
    font-weight: 400;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #1e83a8;
}

.nav-link:hover {
    color: #1e83a8;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.custom-btn {
    background-color: #2596be;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.custom-btn:hover {
    background-color: #063c43;
    color: #fff;
}

.btn-class {
    background-color: #2595be1a;
    color: #2596be;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.btn-class:hover {
    color: #2596be;
}

.login .active {
    background-color: #2596be;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.login .active:hover {
    color: #fff;
}

.card {
    background: #ffffffcc;
    backdrop-filter: blur(30px);
    margin-top: -100px;
    max-width: 600px;
}

footer {
    padding: 80px 0 !important;
    background-color: #063c43;
  }
  
  footer button {
    background-color: #1e83a8;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  @media (max-width: 995px) {
    .offcanvas {
      flex-direction: column;
    }
    .overflow-y-auto {
      border: 1px solid #808080;
      max-height: 512px;
    }
  }
  