$primaryColor: #2596be;
$bannerH1Color: white;
$secondaryColor: #000000;

body {
    font-family: 'Barlow', sans-serif;
    background-color: #ffffff;
}

.custom-btn {
    background-color: #e8e8e8;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.nav-link {
    font-family: Poppins;
    font-weight: 400;
}

.container-fluid {
    padding: 0;
}
.banner{
    background-image: url('../images/header-banner-service.jpg');
    height: 40vh;
    background-size: cover;
    background-position: center;
    h1 {
        color: $bannerH1Color;
    }

}
.ServicesIcons{
    padding-top: 80px;
    background-color: #F9F9F9;
}
.ServicesIcons-card{
    border: 0px;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    background-color: #F9F9F9;
    top:0px;
    z-index: 0;
    &:hover{
        top: -10px;
        transition: all 0.4s ease-in-out;
        box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
        z-index: 2;
    }
    img{
        width: 40px;
        height: 30px;
    }
}

.restaurantsList{
    .left {
        height: fit-content;
    }
    .upper{
        border-bottom: 2px solid rgb(234, 234, 234);
        img{
            width: 70px;
            height: 70px;
        }
    }
    .lower{
        p{
            color: rgb(151, 151, 151);
        }
    }
}
.contact{
    background-color: #F9F9F9;
    p{
        color: rgb(147, 142, 142);
    }
    input{
        height: 50px;
    }
    .form-control:focus{
        box-shadow: none;
        border-color: rgb(228, 228, 228);
    }
    .form-control::placeholder{
        color: rgb(176, 176, 176);
    }
    textarea{
        resize: none;
    }
}

footer {
    padding: 80px 0;
    background-color: #063c43;
}

footer button {
    background-color: #1e83a8;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}